/* #root {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f2f2f2;
  width: 100px;
  height: 40px;
  margin-right: 5px;
  border-color: #c0c0c0;
  border-radius: 5px;
}

.result {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.text {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.count {
  width: 205px;
  height: 40px;
  text-align: center;
  border: solid;
  border-color: #c0c0c0;
  border-width: 1px;
  line-height: 40px;
}
